.Banking{
    background-color: bisque;
    margin-top: -25px;
    width: 1420px;
    height: 425px;
} 

.Bank{
 
    width: 1440px;
    height: 420px;
    background-color: bisque;
}
.Banker{
     position: relative;
     top: 30px;
     background-color: bisque;
     width: 1420px;
     height: 440px;
 }
